<%- include('../../partials/head.ejs') %>

<div class="container my-5">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body">
            <div>
                <img
                    src="<%= author.profilePics %>"
                    class="img-thumbnail img-fluid"
                >
            </div>
            <div>
                <p>Name : <strong><%= author.profile.name %> </strong></p>
                <p>Title: <strong><%= author.profile.title %> </strong></p>
                <p>Bio: <%= author.profile.bio %> </p>

                <div>
                    Social links:
                    <% if (author.profile.links.website) { %>
                        <span>
                            <a href="<%= author.profile.links.website%>" target="_blank">
                                <i class="fab fa-internet-explorer"></i>
                            </a>
                        </span>
                    <% } %>
                    <% if (author.profile.links.facebook) { %>
                        <span>
                            <a href="<%= author.profile.links.facebook%>" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </span>
                    <% } %>
                    <% if (author.profile.links.github) { %>
                        <span>
                            <a href="<%= author.profile.links.github%>" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                    <% } %>
                    <% if (author.profile.links.linkedin) { %>
                        <span>
                            <a href="<%= author.profile.links.linkedin%>" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %> 

<script src="/scripts/bookmarks.js"></script>

</body>
</html>